<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Card</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_form.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000000;">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add-note' %}" style="color:#E5DCC3;">Form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color:white;"><b>Card List</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index_4' %}" style="color:#E5DCC3;">Table </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="row">
      {% for n in note %}
      <div class="col-sm-6" style='padding:2%;'>
        <div class="card">
        <div class="card-header">
          {{ n.title }}
        </div>
          <div class="card-body">
            <h6 class="card-text">Dari: {{ n.from_field }}</h6>
            <h6 class="card-text">Kepada: {{ n.to }}</h6>
            <p class="card-text">{{ n.message }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
