<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_form.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000000;">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'add-note' %}" style="color:#E5DCC3;">Form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'note-list' %} " style="color:#E5DCC3;" >Card List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color:white;"><b>Table</b></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div style="padding:2%;">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Pesan</th>
          </tr>
        </thead>
        <tbody>
          {% for n in note %}
          <tr>
            <td>{{ n.title }}</td>
            <td>{{ n.from_field }}</td>
            <td>{{ n.to }}</td>
            <td>{{ n.message }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
