<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note Form</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style_form.css' %}">
  </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000000;">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#" style="color:white;"><b>Form</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'note-list' %} " style="color:#E5DCC3;" >Card List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index_4' %}" style="color:#E5DCC3;">Table </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1 style="text-align:center;padding:2%;">Note Form</h1>
    <form action="" method="POST" style="padding:0 30%;">
      {% csrf_token %}
      {{ form.as_p }}
      <div style="text-align:center;">
        <input type="submit" value="Submit" style="width:50%;color:white;background-color:#000000;">
      </div>
    </form>
  </body>
</html>
