<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Note</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Titke</th>
        <th>Message</th>
      </tr>
      <!-- TODO loop from Friend model -->
      {% for i in note%}
        <tr>
          <td>{{i.to}}</td>
          <td>{{i.from_field}}</td>
          <td>{{i.title}}</td>
          <td>{{i.message}}</td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
